.banner{
  background: url('/images/banner.webp') no-repeat center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);

  .banner_text{
    color: white;
    text-align: center;
    h3{
      font-size: 7em;
      margin: 0;
    }
    p{
      margin-bottom: 30px;
    }
    .btn{
      padding: 20px 40px;
    }
  }
}