.carousel .carousel-item img {
  display: block;
  width: 100%;
  height: 75vh;
}
body{
    direction: ltr; 
}
// card games styles
/*  card games styles */
#pills-tabContent {
  .game {
    width: 20%;
    padding: 16px;
    margin-bottom: 16px;
    background-color: $dark;
    
    .card{
        background-color: $dark;       
        
        .uil {
            margin-right: 10px;
        }
    }
  }
}
