.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

[class*='col-'] {
  width: 100%;
  flex: 0 0 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@each $name, $size in $media-brak-points {
  @media screen and (min-width: $size){
    @for $i from 1 through $column-count {
      .col-#{$name}-#{$i} {
        width: 100% / $column-count * $i;
        flex:0 0 100% / $column-count * $i;
      }
    }
  }
}


.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  
  @each $name, $size in $media-brak-points {
    @media screen and (min-width: $size){
      width: map-get($map: $countainer-sizes , $key: $name);
    }
  }
}

