*{box-sizing: border-box;}
html{
  font-family: $main-font-family;
  font-size: $main-font-size;
}

body{
  margin: 0;
}

a{
  text-decoration: none;
  color: $primary;
  &:hover{
    color: darken($color: $primary, $amount: 20%);
  }
}